@import url('https://fonts.googleapis.com/css2?family=RetroFont&display=swap');

.startButton {
    position: absolute;
    top: 53%;
    left: 44%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    font-family: "Teko", sans-serif;
    font-size: 100px;
    box-shadow: none;
}

.startButton:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
}



.startButton:focus {
    outline: none;
    box-shadow: none;
}

.container_start {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
}